<%
var dt = new Date();
var y = dt.getFullYear();
var m = dt.getMonth();
var d = dt.getDay();
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%=title %></title>
<link type="text/css" href="./style.css" rel="stylesheet">
</head>
<body>
<h1><%=title %></h1>
<p><%=message %></p>
<p>Today : <%=y + " Year " + (m+1) + " Month " + d + " Day" %> .</p>
<% for(var i=0; i<datas.length; i++){ %>

<table>
<tr>
<td><%= datas[i].name %></td>
<td><%= datas[i].mail %></td>
<td><%= datas[i].tel %></td>
</tr>
<% } %>
</table>

</body>
</html>

